/* stylelint-disable */
@font-face {
    font-family: "satoshiBold";
    src: url("../../static/assets/fonts/Satoshi-Bold.woff2") format('woff');
}
@font-face {
    font-family: "satoshiLight";
    src: url("../../static/assets/fonts/Satoshi-Light.woff2") format('woff');
}
@font-face {
    font-family: "satoshiMedium";
    src: url("../../static/assets/fonts/Satoshi-Medium.woff2") format('woff');
}

* {
  margin: 0;
  padding: 0 auto;
}

html,
body {
  background-color: rgb(18, 17, 17);
  font-size: 1rem;
  color: white;
  width: 100%;
  /* min-width: 350px; */
/*   min-width: 250px; */
}
.banner-container,
 {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 10%;
}
.logo-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-big {
  width: 10%;
}
.banner{
  font-size: 10vw;
  margin: 0 0;
  font-family:  'satoshiBold', sans-serif;
  text-align: center;
}
.c-main{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.c-canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.container-text {
  position: relative;
  width: 25%;
  min-width: 300px;
  min-height: 30%;
  height: 100vh;
  left: 10%;
}
.cases-header {
}
.cases {
  position: absolute;
  left: 10%;
  top: 12%;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  font-family:  'satoshiLight', sans-serif;
  opacity: 0;
}

.logo {
  position: absolute;
  left: 10%;
  top: 5%;
}
.menu {
  position: absolute;
  right: 10%;
  top: 5%;
}
.see {
  position: absolute;
  right: 10%;
  top: 12%;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  font-family:  'satoshiLight', sans-serif;
  opacity: 0;
}
.see-arrow {
  width: 13px;  
  height: auto;  
}
.see:hover {
  cursor: pointer !important;
}
.cases-player {
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 10%; */
  top: 79%;
  opacity: 0;
}
.cases-player--small{
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 10%; */
  top: 49%;
  opacity: 0;
}

.cases-mca {
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 10%; */
  top: 79%;
  opacity: 0;
}

.cases-mca--small {
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 10%; */
  top: 53%;
  opacity: 0;
}

.cases-brain {
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 10%; */
  top: 85%;
  opacity: 0;
}
.cases-brain--small {
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 10%; */
  top: 57%;
  opacity: 0;
}

.cases-church{
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 10%; */
  top: 79%;
  opacity: 0;
}

.cases-church--small{
  position: absolute;
  width: 300px;
  height: 160px;
  /* left: 0%; */
  top: 61%;
  opacity: 0;
}

.items {
  height: 18px;
  width: 350px;
  text-align: left;
  line-height: 3rem;
}
.item-title{
    font-size: 2.7rem;
    font-family:  'satoshiBold', sans-serif;
}
.items--small {
  height: 18px;
  /* width: 350px; */
  text-align: left;
  line-height: 3rem;
}
.title--small{
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-family:  'satoshiLight', sans-serif;
}
.category {
    font-size: 16px;
    font-family:  'satoshiMedium', sans-serif;
    margin-bottom: 1rem;
}

.c-scroller {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: calc(16px * 457); /* ! unit is 16px */
}
.c-section {
  width: 90%;
}
.lil-gui.root {
  background-color: grey;
}

/* media query */
@media  screen and (max-height: 700px) {
  .title--small,
  .cases,
  .see{
    font-size: 3vh;
    line-height: 3vh;
    min-height: 120px;
  }
  .category { 
    font-size: 3vh;
  }
  .items {

  }
  .item-title {
    font-size: 5vh;
    line-height: 5vh;
  }
  // .container-text {
  //     min-height: 40%;
  //     background-color: green;
  // }
}
